@import url('https://fonts.googleapis.com/css2?family=Anton&family=Rubik+Mono+One&display=swap');

/*** 
font-family: 'Anton', sans-serif;
font-family: 'Rubik Mono One', monospace;
*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: georgia, serif;
  font-weight: 400;
  line-height: 1.4;
  font-size: 115%;
  -webkit-font-smoothing: antialiased;
}

.wrap {
  height: 100%;
}

.left {
  position: fixed;
  width: 30%;
  height: 100%;
  min-height: 150px;
  float: left;
  background-color: #115588;
  text-align: center;
  color: #ffffff;
}

.left header {
  margin-top: 75%;
}

.left h1 {
  font-family: verdana, sans-serif;
}

.left p {
  font-size: 80%;
  color: rgba(255, 255, 255, 0.8);
}

.left a {
  color: #fff;
  text-decoration: none;
}

.left a:hover {
  color: #fff;
  border-bottom: 1px solid #eee;
}

.right {
  position: relative;
  width: 70%;
  height: 100%;
  float: right;
  background-color: #ffffff;
}

.right article {
  padding: 5%;
}

.right article h2 {
  font-family: verdana, sans-serif;
  border-bottom: 1px solid #eee;
  margin-bottom: 20px;
}

.right article .date {
  text-transform: uppercase;
  font-size: 60%;
  padding-bottom: 15px;
}

.right article span {
  font-style: italic;
  color: rgba(0, 0, 0, 0.5);
}

.right article p {
  padding: 10px 0 10px 0;
}

.right article img {
  padding: 5px;
}

.right .tags {
  font-family: verdana, sans-serif;
  color: #fff;
  text-transform: uppercase;
  font-size: 60%;
}

.right .tags li {
  background-color: tomato;
  text-align: justify;
  display: inline-block;
  list-style: none;
  margin: 5px 5px 0 0;
  padding: 5px;
  -webkit-box-shadow: 1px 1px 1px #ad1a00;
          box-shadow: 1px 1px 1px #ad1a00;
}

.right .tags li:hover {
  background-color: #555;
  -webkit-box-shadow: 1px 1px 1px #090909;
          box-shadow: 1px 1px 1px #090909;
  cursor: default;
}

.float-left {
  float: left;
}

.float-right {
  float: right;
}

img {
  max-width: 100%;
}

a {
  color: tomato;
  text-decoration: none;
}

a:hover {
  color: #ad1a00;
  border-bottom: 1px solid #ad1a00;
}

hr {
  padding: 0;
  border: none;
  border-top: medium double #ddd;
  color: #ddd;
  text-align: center;
}

hr:after {
  content: "§";
  display: inline-block;
  position: relative;
  top: -0.7em;
  font-size: 1.5em;
  padding: 0 0.25em;
  background: #ffffff;
}

footer {
  color: rgba(0, 0, 0, 0.5);
  text-align: center;
  padding-top: 20px;
}

footer p {
  font-size: 70%;
  padding: 10px;
}

@media screen and (max-width: 768px) {
  .left {
    float: none;
    position: relative !important;
    width: 100%;
    min-height: 150px;
  }
  .left header {
    margin-top: 0;
    padding-top: 20px;
  }
  .right {
    float: none;
    position: relative !important;
    width: 100%;
    font-size: 95%;
  }
}

@media screen and (max-width: 480px) {
  .right article h2 {
    font-size: 105%;
  }
  .right article p {
    font-size: 85%;
  }
  .float-left, .float-right {
    float: none;
  }
  img {
    width: 95%;
  }
}



.hero{
  background-image: url("../obrazky/bg.jpeg");
  background-repeat: no-repeat;
  padding: 150px 0;
  width: 100%;
  background-size: 100%;
  background-position: center;
  object-fit: cover;
  font-family: 'Rubik Mono One', monospace;
}

.hero__wrap{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  flex-direction: column;
}

.hero__wrap h2{
  font-size: 99px;
  text-shadow: 4px 4px 2px rgba(0,0,0,0.6);
  color: rgb(255,255,255);
}

.hero__wrap p{
  color: white;
  font-size: 15px;
  max-width: 800px;
  text-align: center;
  text-shadow: 4px 4px 2px rgba(0,0,0,0.6);
  margin-top: 50px;
  line-height: 1.5;
}


.text{
  text-align: block;
  text-decoration: none;
  margin-top: 50px;
}

.filmy{
  padding-bottom: 150px;
}

.filmy h2{
  margin-left: 100px;
  margin-bottom: 20px;
  font-size: 70px;
  text-shadow: 4px 4px 4px black;
  color: red;
}

.img2{
  width: 100%;
  min-width: 300px;

}

.img3{
  width: 100%;
  min-width: 300px;

}

.img4{
  min-width: 300px;
  width: 100%;

}

.images{
  display: flex;
  flex-wrap: wrap;
  gap: 50px;
  justify-content: center;
  align-items: center;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  
}

li{
    width: 15%;
    margin: 10px 0;
}
.nav li a:hover{
  color: rgb(80, 80, 80);
}
li img{
    width: 150px;
    position: relative;
    right: 30px;
}

.nav li a{
  text-decoration: none;
  font-size: 25px;
  color: black;
  font-weight: bold;
}

.nav{
  background: rgba(255, 255, 255, 0.2);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  position: fixed;
  width: 100%;
}

.cars{
  padding-top: 10%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cars .onecar{
  width: 33%;
  height: 50vh;
}
.cars .onecar:hover{
  opacity: 0.5;
}

.cars img{
  width: 80%;
}
.move{
  padding-top: 11%;
}
.black1{
  position: absolute;
  top: 100vh;
  width:100%;
  height: 20px;
  background-color: rgb(80, 80, 80);
}
h2{
  padding-top: 10%;
}
.black2{
  position: absolute;
  top: 200vh;
  width:100%;
  height: 20px;
  background-color: rgb(80, 80, 80);
}

.black3{
  position: absolute;
  top: 300vh;
  width:100%;
  height: 20px;
  background-color: rgb(80, 80, 80);
}
.blesk{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
}

.blesk img{
  width: 40%;
}
.blesk p{
  width: 50%;
}

@media only screen and (max-width: 692px) {
  .nav ul { 
      flex-direction: column; 
    align-items: center; 
   }
   ul img{
       position: relative;
      right: 50%;
   }
   .cars{
      flex-direction: column; 
      align-items: center; 
   }
   .cars img{
      width: 200px;
   }

   .blesk{
      flex-direction: column; 
    align-items: center; 
   }
}


.container{
  margin: auto;
  padding-top: 150px;
  display:grid;
  grid-template-columns: 1fr 1fr 1fr;
  max-width:1000px;
  gap: 10px;
  width:100%;
  padding-bottom:10px ;
  
}

.grid-item{
  background-color: rgb(252, 253, 206);
  height:  auto;
  display:flex;
  flex-direction: column;
  align-items:center;
  justify-content: flex-start;
  font-size: 24px;
}

img {
  border-radius: 8px;
  padding: 5px;
  max-width: 150px;
}

h1{text-align: center;
  font-size: 36px;
  padding: 10px;
  margin: 0;}

h2{text-align: center;
  padding: 10px;
  margin: 0;}

p{padding: 15px;
  margin: 0;
  text-align: justify;
  font-size: 16px;}


  .blog{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    max-width: 1000px;
    margin:0 auto;
    padding: 180px 0;
    gap: 50px;
    
   
  }

  @media only screen and (max-width: 991px){
    .blog{
      grid-template-columns: repeat(1, 1fr);  
    }
  }

  .blog__item{
    border: 1px solid gray;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 10px;
  }

  .blog a{
    color: black;
    transition: 0.5s ease all;
  }

  .blog__item a:hover{
    text-decoration: none;
    color: rgb(170, 14, 14);
    border: unset;
  }