*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.hero{
    background-image: url("image.jpg");
    background-repeat: no-repeat;
    height: 1000px;
    width: 100%;
    background-size: 100%;
    background-position: center;
    object-fit: cover;
    margin-bottom: 50px;
}

.hero__wrap{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    flex-direction: column;
}

.hero__wrap h2{
    font-size: 190px;
    text-shadow: 4px 4px 2px rgba(0,0,0,0.6);
    color: rgb(255,255,255);
}

.hero__wrap p{
    color: white;
    font-size: 25px;
    max-width: 800px;
    text-align: center;
    text-shadow: 4px 4px 2px rgba(0,0,0,0.6);
    margin-top: 50px;
}


.text{
    text-align: block;
    text-decoration: none;
    margin-top: 50px;
}

.filmy{
}

.filmy h2{
    margin-left: 100px;
    margin-bottom: 20px;
    font-size: 70px;
    text-shadow: 4px 4px 4px black;
    color: red;
}

.img2{
    height: 600px;
    width: 500px;
    margin-left: 100px;
}

.img3{
    
    height: 600px;
    width: 500px;
    margin-left: 100px;
}

.img4{
    height: 600px;
    width: 500px;
    margin-left: 100px;
}

.images{
    display: flex;
}